名称:
= @village_item.name
%hr/
电话:
= @village_item.tel
%hr/
地址:
= @village_item.addr
%hr/
详情:
= @village_item.info
%hr/
上门服务:
= @village_item.takeout
%hr/
增值服务:
= @village_item.bp_reg
%hr/
联系人:
= @village_item.admin_name
%hr/
手机:
= @village_item.admin_phone
%hr/
邮箱:
= @village_item.admin_email
