%ul.breadcrumb
  %li
    = link_to '首页', root_path
    %span.divider
  %li
    = link_to '店铺管理', platform_stores_path(@store)
    %span.divider
  %li
    = link_to @store.name, platform_stores_path(@store)
  %li
    = link_to '商品列表', platform_store_wesell_items_path(@store)
  %li.active
    %span.divider
    %span= @wesell_item.name

.row
  .col-md-9
    .panel.panel-default
      .panel-heading
        %h3.panel-title 商品信息
      .panel-body
        = render 'form'

  .col-md-3
    .panel.panel-default
      .panel-heading
        %h3.panel-title 控制面板
      .panel-body
        / = render 'control_panel'
