%section#search_store
  = simple_form_for 'search', url: search_westore_instance_path(@instance), method: :get, defaults: {input_html: {class: 'form-control'}} do |f|
    = f.input_field :q, input_html: {name: 'q', class: 'form-control'}, label: false, placeholder: '搜索店铺'
    -# = button do
    -#   = content_tag(:i, class: "fa fa-search")
    %button.btn.btn-success{type: "submit"}
      %i.fa.fa-search.fa-2x
#page_intelOrder
  %section#infoSection
    %article
      #pInfo
        - @stores.each do |store|
          = link_to westore_instance_store_path(@instance, store) do
            %dl
              %dt
                %h3= store.name
              %dd
                = image_tag store.logo.url(:thumb)
                %span
              %dd
                %em= store.open_status
              %dd
                %em= "地址：#{store.street}"
              %dd
                - if store.description
                  = truncate(store.description, length: 60)
                - elsif store.slogan
                  = truncate(store.slogan, length: 60)