%item
  %Title
    = raw "<![CDATA[关注送彩票进行中！]]>"
  %PicUrl
    = raw "<![CDATA[#{asset_url('misc/lottery.jpg')}]]>"
  %Url
    = raw "<![CDATA[#{new_misc_lottery_url(customer_cid: @customer.cid, instance_id: @instance.id)}]]>"
