#team.container
  /.section_header
  /  %h3 赋为团队
  .row.r1
    .col-xs-6.bt
      %a{href: "/fooways_1.6.ppt", target: "_blank"} 赋为介绍
    .col-xs-6.bt
      %a{href: "/about.pdf", target: "_blank"} 团队文化
  .row.people
    .row
      .col-md-6.bio_box#frank
        .row
          .col-md-4
            = image_tag 'team/frank.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 董学锋 Frank
            %a{href: "mailto:frank@fooways.com"}
              %span
                %i.fa.fa-envelope.fa-2x
            .area
              %p
                4点起冥想，三万米夜跑，
              %p
                坚持野蛮体魄、文明精神。
              %p
                首席打杂官，五月花船长，社区o2o践行者。
              %p
                跟着他不是为了吃肉，是为了守望幸福。

      .col-md-6.bio_box#guofeng
        .row
          .col-md-4
            = image_tag 'team/guofeng.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 卢国峰
            %a{href: "mailto:lugf@fooways.com"}
              %i.fa.fa-envelope.fa-2x
            .area
              %p
                不想写JavaScript的CSSer不是好Rubist；
              %p
                不想当厨师的攻城狮不是好摄影狮；
              %p
                不照顾好身子的90后不是好文青；
              %p
                传说中的伪「修电脑的」。

      .col-md-6.bio_box#yolanda
        .row
          .col-md-4
            = image_tag 'team/yolanda.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 廖海珊 Yolanda
            %a{href: "mailto:yolanda@fooways.com"}
              %i.fa.fa-envelope.fa-2x
            .area
              %p
                喜欢一切和猫相关的东西。
      .col-md-6.bio_box#dien
        .row
          .col-md-4
            = image_tag 'team/dien.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 陈东汉
            %a{href: "mailto:dien@fooways.com"}
              %i.fa.fa-envelope.fa-2x
            .area
              %p
                爱生活的设计师。

    .row
      .col-md-6.bio_box#bayunyao
        .row
          .col-md-4
            = image_tag 'team/bayunyao.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 巴运尧
            %a{href: "mailto:bayunyao@fooways.com"}
              %i.fa.fa-envelope.fa-2x
            .area
              %p
                千里之行始于足下

      .col-md-6.bio_box#jenny
        .row
          .col-md-4
            = image_tag 'team/jenny.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 夏淑珍 Jenny
            %a{href: "mailto:jenny@fooways.com"}
              %i.fa.fa-envelope.fa-2x
            .area
              %p
                从事财务工作近二十年，
              %p
                近十年的财务管理经验，
              %p
                在内部控制，财务制度健全，税务筹划，
              %p#guo
                财务分析方面有丰富的经验，中级会计师

    .row
      .col-md-6.bio_box
        .row
          .col-md-4
            = image_tag 'team/guo.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 郭瑞恩
            %a{href: "mailto:2713866079@qq.com"}
              %i.fa.fa-envelope.fa-2x
            .area
              %p
                资深淘宝商家，
              %p
                雷厉风行，精明高效，
              %p
                身体力行传播幸福大院的“幸福”。

      .col-md-6.bio_box#biao
        .row
          .col-md-4
            = image_tag 'team/biao.jpg', class: 'img-circle team-ale'
          .col-md-8.info
            %p.name 黄彪
            %a{href: "mailto:2924707091@qq.com"}
              %i.fa.fa-envelope.fa-2x
            .area
              %p 资深法律顾问

