= simple_form_for [:platform, @store, @category], :defaults => { :input_html => { :class => 'form-control' } }, html: { class: 'form-horizontal', role: "form" } do |f|
  = f.error_notification

  = f.input :store_id, as: :hidden
  = f.input :name
  = f.input :sequence

  = link_to '放弃返回', :back, class: 'btn btn-info'
  = f.button :submit, '提交', class: 'btn btn-orange'
