- if @instance && @report_day
  %h3
    = "#{@instance.nick} - #{@instance.slogan} - ii_#{@instance.id}"
  %p.samll.pull-right
    = "统计时间：#{@report_day.midnight} 至 #{@report_day.end_of_day}"
  %p.samll.pull-right
    = "轧帐时间：#{Time.now}"
  %hr/
  %hr/
  %h4 公众号总览
  %table.table
    %thead
      %tr
        %th 公众号
        %th 店铺数
        %th 最多订单店铺
        %th 订单量
        %th 销售额
        %th 现有用户数
        %th 有下单顾客
        %th 新增关注
        %th 流失关注
        %th 活跃用户
    %tbody
      - y_order = @instance.orders.where(submit_at: @time_range, is_test: false)
      / - max_store = Order.where(store_id: instance.stores, submit_at: @time_range).group(:store_id).count.max_by {|k,v| v}
      %tr
        %td= @instance.nick
        %td= @instance.stores_count
        %td=# max_store.nil? ? "无" : Store.find(max_store.first).name
        %td= y_order.count
        %td= y_order.sum(:amount)
        %td= @instance.customers.where("openid IS NOT NULL").count
        %td= Order.where(customer_id: @instance.customers, submit_at: @time_range).group(:customer_id).length
        %td= @instance.customers.where("openid IS NOT NULL").where(created_at: @time_range).count
        %td= @instance.customers.where("openid IS NOT NULL").where(updated_at: @time_range, subscribed: false).count
        %td= @instance.customers.where(last_visit_at: @time_range).count

  - if @revenue >= 0.01
    - orders = 0; valid = 0; revenu = 0.0; items = 0
    %hr/
    %h4
      = "店铺总览"
    %table.table
      %thead
        %tr
          %th 店铺名
          %th 店铺浏览次数
          %th 成交次数
          %th 销售额
          %th 转化率
      %tbody
        - @instance.stores.each do |store|
          -# report = Report.find_by_report_date_and_store_id(@time_range, store.id)
          - total = store.orders.where(created_at: @time_range, is_test: false)
          - deal = store.orders.where(submit_at: @time_range, is_test: false)
          %tr
            %td= store.name
            %td= total.count
            %td= deal.count
            %td= deal.sum(:amount)
            %td= total.count == 0 ? 0 : number_to_percentage(deal.count / total.count.to_f * 100)
  - else
    %hr/
    %h4
      = "今日营业统计：零"
  %hr/

  - unless @updated.blank?
    %hr
    %h4 系统更新提示
    %table.table
      %thead
        %th 时间
        %th 链接传送门
      %tbody
      - @updated.each do |post|
        %tr
          %td= post.created_at.strftime('%Y-%m-%d %H:%M')
          %td{ style: "text-align: center"}= link_to post.topic.subject, forem.forum_topic_url(post.forum, post.topic), target: "_blank"
    %hr/

  %hr/
  %p 这是一封自动发送邮件，请勿回复。
  %p 您在使用过程中，若需帮助，请联系客服，我们必竭诚为您服务。
  / %p Tel: 400-0072505
  / %p QQ: 527618010
  / %p www.fooways.com
  / %p 赋为科技 - 社区O2O创业首选