%MsgType
  = raw "<![CDATA[news]]>"
%ArticleCount
  1
%Articles
  %item
    %Title
      = raw "<![CDATA[欢迎关注安子云社区服务，点击探索。。。]]>"
    %Description
      = raw "<![CDATA[十多年来，安子以“用心服务、爱如家人”的服务理念，为经济特区数万个家庭提供了家庭服务，为全国各地数以万计的大中专毕业生、下岗待业、失业、无业人员、农村剩余劳动力解决了就业及再就业问题，受到上级相关部门领导、广大市民及社会各届人士的肯定，赢得了市民的一致好评和社会的广泛赞誉。先后被评为“中国家政百强企业”、“中国家政服务行业十大影响力品牌”、“全国家庭服务社会化工程建设先进单位”、“全国家庭服务社会化工程建设百家优秀单位”、“亚太区最杰出服务业奖”、“广东家政十强企业”、“深圳家政龙头企业”等数十项荣誉。]]>"
    %PicUrl
      = raw "<![CDATA[#{@instance.banner.url}]]>"
    %Url
      = raw "<![CDATA[#{westore_instance_url(@instance, customer_cid: @customer.cid)}]]>"