%MsgType
  = raw "<![CDATA[news]]>"
%ArticleCount
  1
%Articles
  %item
    %Title
      = raw "<![CDATA[欢迎来参观幸福大院团队~]]>"
    %Description
      = raw "<![CDATA[幸福大院是中国领先的社区生活服务平台，是您社区生活的贴心管家。本地化的运营团队为您整合社区周边优质商业...]]>"
    %PicUrl
      = raw "<![CDATA[#{@instance.banner.url}]]>"
    %Url
      = raw "<![CDATA[http://fooways.com/team]]>"