%ul.breadcrumb
  %li
    =link_to '首页', root_path
    %span.divider
  %li
    = link_to '店铺管理', platform_stores_path
    %span.divider
  %li.active
    运营公众号列表

= paginate @operations
%table.table.table-hover
  %thead
    %tr
      %th ID
      %th 公众号名称
      %th 公众号描述
      %th
  %tbody
    - @operations.each do |operation|
      %tr
        %td= operation.instance_id
        %td= link_to operation.instance.nick, platform_instance_path(operation.instance)
        %td= operation.instance.description
        %td
          = link_to '停止运营', platform_operation_path(operation), :method => :delete, :data => { :confirm => '所有数据将无法恢复，是否确认？' }, class: 'btn btn-danger'

= paginate @operations
= link_to "返回", :back, class: 'btn btn-default'
/ = link_to "新建公众号", new_platform_instance_path, class: 'btn btn-primary'
