%MsgType
  = raw "<![CDATA[news]]>"
%ArticleCount
  - if @kategories.length == 8 || @instance.sub_lottery? && @customer.lotteries.size < 1
    = @kategories.length + 2
  - else
    = @kategories.length + 1
%Articles
  %item
    %Title
      = raw "<![CDATA[#{@instance.slogan}]]>"
    %Description
      = raw "<![CDATA[#{@instance.description}]]>"
    %PicUrl
      = raw "<![CDATA[#{asset_url @instance.banner.url(:medium)}]]>"
    %Url
      = raw "<![CDATA[#{westore_instance_url(@instance, customer_cid: @customer.cid)}]]>"
  - @kategories.each do |kategory|
    %item
      %Title
        = raw "<![CDATA[#{kategory.name}\n#{kategory.description}]]>"
      %PicUrl
        = raw "<![CDATA[#{asset_url (kategory.logo.url(:thumb) || kategory.stores.first.logo.url(:thumb))}]]>"
      %Url
        = raw "<![CDATA[#{westore_instance_kategory_url(@instance, kategory, customer_cid: @customer.cid)}]]>"
  - if @instance.sub_lottery? && @customer.lotteries.size < 1
    = render 'wechat/services/activities/lottery'
  - elsif @kategories.length == 8
    %item
      %Title
        = raw "<![CDATA[更多服务猛击这里...]]>"
      %PicUrl
        = raw "<![CDATA[#{asset_url @instance.logo.url(:thumb)}]]>"
      %Url
        = raw "<![CDATA[#{westore_instance_url(@instance, customer_cid: @customer.cid)}]]>"