%h3 90后创业不看马佳佳
%h3 赋为 o2o 大赛正当时
%p{style: "font-weight: bolder"} 文/Amanda
= image_tag "misc/startup.jpg", class: "img-responsive"
%h6{style: "color: #aaa"}（图片为微果大爱团队和其导师，摄影/东汉）
%br/
%p{style: "text-indent: 2em"} 互联网这一最能创造奇迹的领域，无疑是90后初生牛犊创业逐梦的最佳舞台。为了给更多90后大学生实现自我的机会，广州赋为科技联合中欧国际工商学院校EMBA导师、广州杉树计划秘书处、广州大学城一卡通公司及众多热心企业家，启动了广州多所大学“o2o创业大赛”。日前已经进入了激烈角逐的第二阶段——各团队需求资源的整合与培训，执行供应商入驻。无独有偶，在遥遥相望的北京，清华大学举行的校园创业大赛上，搜狐CEO张朝阳、雕爷牛腩创始人雕爷对与会创业者分享了自己在创业过程中的感悟。雕爷说的是，“用创业实现财富、时间和心灵的三重自由”，张朝阳则表示，“互联网的竞争最为纯粹”。

%p{style: "text-indent: 2em"}  本次赋为o2o创业大赛就是这样一场“实现自由”的预演，一次“纯粹的竞争”。经过角逐，目前还有四支创业队伍，各自在中欧商学院EMAB导师的悉心指导下，做出了详细而专业的计划书和财务预算表。本周表现突出的团队有BINGO和半小时团队，除了搭建o2o平台之外，还非常鲜明地提出了自己的宗旨——“BINGO——让校园生活更美好”，半小时的水果配餐项目也旗帜鲜明地打出了“微果大爱”的主旨，并且都提出了很多创新的互联网营销的想法。这种关注社区生活本身的视角恰恰与赋为科技所倡导的“让科技拥抱商业理想”是相契合的。

%p{style: "text-indent: 2em"} 商业的成功并非是我们追求的最终目的。商业是工具，生活才是目的。赋为科技致力于打造更为美好的社区生活，这才是我们对90后互联网创业者发自肺腑的召唤——来吧，有志于在社区o2o领域摩拳擦掌的孩子们！与其在“高大上”装逼，不如在“小而美”逆袭。



.page-header
  %h3 杉树计划报名

= simple_form_for [:misc, @pearl], defaults: {input_html: {class: 'form-control'}} do |f|
  = f.input :name
  = f.input :email

  = f.input :phone
  = f.input :tutor

  %p
    = f.submit "提交", class: 'btn btn-default btn_2'
