<%= simple_form_for [forem, @forum, @topic], html: { class: 'form-horizontal', role: "form" } do |f| %>
  <div class="col-md-offset-1">
	<%= f.input :subject, input_html: { class: 'col-md-12' } %>
  </div>

  <%= f.simple_fields_for :posts do |post| %>
    <%= render :partial => "forem/posts/form", :locals => { :f => post }%>
  <% end %>

  <%= f.submit :class => "btn btn-primary" %>
<% end %>